

<style type="text/css">
</style>
<div class="row">           
    <div class="col-md-12">
        <div style="height:20px"></div>
        <div class="col-md-3">
                <div class="row"> <div class="col-md-12"><div id="mainListTinDen"></div> </div></div>
                <div class="row"> <div class="col-md-12"><div id="mainListTinDi"></div> </div></div>            
        </div>
        <div class="col-md-9" >            
            <div class="row"> <div class="col-md-12"><div id="mainListTinDenChart"></div> </div></div>
            <div class="row"> <div class="col-md-12"><div id="mainListTinDiChart"></div> </div></div>
        </div>
    </div>
</div>
