<div>
  <div class="m-login__head">
    <h3 class="m-login__title">Đổi mật khẩu</h3>
    <div class="m-login__desc">Chúng tôi đã gửi mail cho bạn kèm thông tin để khôi phục mật khẩu.
      Vui lòng kiềm tra email và tiến hành nhập mật khẩu mới!</div>
  </div>
  <form validation-form class="m-login__form m-form" submit-function="changePassword()">
    <div class="form-group m-form__group">
      <input class="form-control m-input" type="text" placeholder="Mã khôi phục" name="code"
        autocomplete="off" required ng-model="resetPassword.resetCode">
    </div>

    <div class="form-group m-form__group">
        <input class="form-control m-input" type="text" placeholder="Địa chỉ email" name="email"
         autocomplete="off" required ng-model="resetPassword.emailAddress">
    </div>
    
    <div class="form-group m-form__group">
      <input class="form-control m-input" type="password" placeholder="Mật khẩu mới" name="password"
        autocomplete="off" required ng-model="resetPassword.newPassword">
    </div>
    <div class="form-group m-form__group">
      <input class="form-control m-input" type="password" placeholder="Xá nhận mật khẩu mới" name="confirm-password"
        autocomplete="off" required ng-model="resetPassword.confirmNewPassword">
    </div>

    <div class="text-center m--margin-top-20">
      <button id="m_login_forget_password_cancel"
        class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn" ui-sref="auth.login">
        Hủy
      </button>
      <button button-submit id="m_login_forget_password_submit"
        class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
        Gửi
      </button>
    </div>
  </form>
</div>
