<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <form validation-form submit-function="AddPartnerContact()" class="m-form m-form--fit m-form--label-align-right">
                <div class="col-md-12" style="padding:0px">
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__body">
                            <div class="form-body col-lg-12 no-padding" style="margin-top: 20px">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Ông/bà' | translate}}<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <select class="form-control" ng-model="dataPartner.title" required>
                                                    <option value="">{{'Chọn' | translate}}</option>
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Ms.">Ms.</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Họ' | translate}}<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.first_name" maxlength="255" class="form-control m-input" placeholder="Nhập họ" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Tên đệm' | translate}}<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.middle_name" maxlength="255" class="form-control m-input" placeholder="Nhập họ tên" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Tên' | translate}}<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.last_name" maxlength="255" class="form-control m-input" placeholder="Nhập họ tên" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">Email<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.email" maxlength="100" class="form-control m-input" placeholder="Nhập email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Địa chỉ' | translate}}:</label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.address" maxlength="255" class="form-control m-input" placeholder="Nhập địa chỉ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">Vị trí<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.position" maxlength="255" class="form-control m-input" placeholder="Nhập vị trí" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Địa chỉ liên hệ' | translate}}:</label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.contact_address" maxlength="255" class="form-control m-input" placeholder="Nhập địa chỉ liên hệ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Quốc gia' | translate}}:</label>
                                            <div class="col-8">
                                                <select class="form-control"  text-key = "name" value-key="code" si-select get-data="getProvince()"  ng-model="dataPartner.country">  
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Số điện thoại' | translate}}<span class="required"> *</span></label>
                                            <div class="col-8">
                                                <input type="text" maxlength="50" ng-model="dataPartner.phone" class="form-control m-input" placeholder="Nhập số điện thoại" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Số điện thoại 1' | translate}}:</label>
                                            <div class="col-8">
                                                <input type="text" maxlength="50" ng-model="dataPartner.phone1" class="form-control m-input" placeholder="Nhập số điện thoại">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Số điện thoại 2' | translate}}:</label>
                                            <div class="col-8">
                                                <input type="text" maxlength="50" ng-model="dataPartner.phone2" class="form-control m-input" placeholder="Nhập số điện thoại">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">Website:</label>
                                            <div class="col-8">
                                                <input type="text" ng-model="dataPartner.website" class="form-control m-input" placeholder="Nhập địa chỉ website">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Nhà tài trợ biết REACH từ kênh' | translate}}:</label>
                                            <div class="col-8">
                                                <select class="form-control" ng-model="dataPartner.from_channel">
                                                        <option value="">{{'Chọn' | translate}}</option>
                                                    <option value="0">{{'Gặp trực tiếp' | translate}}</option>
                                                    <option value="1">Email</option>
                                                    <option value="2">Website</option>
                                                    <option value="3">{{'Sự kiện reach tổ chức' | translate}}</option>
                                                    <option value="4">{{'Báo chí' | translate}}</option>
                                                    <option value="5">{{'Mạng lưới NGO' | translate}}</option>
                                                    <option value="6">{{'Mạng xã hội' | translate}}</option>
                                                    <option value="7">{{'Khác' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-4 col-form-label">{{'Quan hệ với Reach' | translate}}:</label>
                                                <div class="col-8">
                                                    <input type="text" ng-model="dataPartner.reach_relationship" maxlength="50" class="form-control m-input" placeholder="Nhập mối quan hệ với Reach" > 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-4 col-form-label">{{'Tình trạng pháp nhân' | translate}}:</label>
                                                <div class="col-8">
                                                    <select ng-model="dataPartner.legal_status" class="form-control" id="">
                                                        <option value="">{{'Chọn' | translate}}</option>
                                                        <option value="1">{{'Trường đào tạo nghề' | translate}}</option>
                                                        <option value="2">{{'Chính quyền địa phương' | translate}}</option>
                                                        <option value="3">{{'Tổ chức phi chính phủ/ nhân đạo quốc tế' | translate}}</option>
                                                        <option value="4">{{'Tổ chức phi chính chủ trong nước' | translate}}</option>
                                                        <option value="5">{{'Doanh nghiệp' | translate}}</option>
                                                        <option value="6">{{'Cá nhân' | translate}}</option>
                                                        <option value="7">{{'Doanh nghiệp xã hội' | translate}}</option>
                                                        <option value="8">{{'Hiệp hội ngành nghề' | translate}}</option>
                                                        <option value="9">{{'Đại sứ quán tại việt nam' | translate}}</option>
                                                        <option value="10">{{'Câu lạc bộ / mạng lưới quan hệ xã hội' | translate}}</option>
                                                        <option value="11">{{'Cơ quan chính phủ' | translate}}</option>
                                                        <option value="12">{{'Quỹ' | translate}}</option>
                                                        <option value="13">{{'Báo trong nước' | translate}}</option>
                                                        <option value="15">{{'Báo quốc tế' | translate}}</option>
                                                        <option value="16">{{'Kênh truyền hình quốc tế' | translate}}</option>
                                                        <option value="17">{{'Khác' | translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="form-group m-form__group row">
                                    <!-- <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Người liên hệ tại Reach' | translate}}:</label>
                                            <div class="col-8">
                                                <select class="form-control" text-key = "name" value-key="id" si-select get-data="getUserReach()"  ng-model="dataPartner.reach_uid">  
                                                </select>
                                                <input type="text" ng-model="dataPartner.reach_uid" class="form-control m-input" placeholder="Nhập họ tên (tạm bỏ qua trường này)" >
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-4 col-form-label">{{'Vị trí người liên hệ' | translate}}:</label>
                                            <div class="col-8">
                                                <input type="text" maxlength="255" ng-model="dataPartner.reach_position" class="form-control m-input" placeholder="Nhập vị trí" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-7 ml-lg-auto">
                                        <button ng-click="goToList()" class="btn btn-secondary">{{'Quay lại' | translate}}</button>
                                        <button type="submit" button-submit class="btn btn-accent">{{'Thêm' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
          